@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

.text_sec {
    position: absolute;
    top: 8%;
}

.main_div {
    background-image: url("image.png");
    /* background: #6983aa; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    font-family: "Jost", sans-serif;
}

html {
    background: #eee;
}

.center_div {
    width: 25vw;
    height: 60vh;
    border-radius: 15px;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: #f4f4f4;
    position: absolute;
    /* right: 20%; */
    transform: translate3d(0, 0, 0);
    min-width: 20rem;
    min-height: 35rem;
}

.input {
    margin-left: 50px;
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 25px;
    font-weight: 700;
    width: 60%;
    border-bottom: 2px solid blueviolet;
    outline: none;
}

.button {
    /* min-height: px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: purple;
    color: white;
    font-size: 35px;
    /* text-align: center; */
    border: none;
    outline: none;
    margin-left: 5%;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #20bf6b;
}